# Files docker needs to ignore when building containers (data is mounted later)
data/
.git/
__pycache__/
runs/
mlruns/
.venv/
.pytest_cache/
.gitattributes
.gitignore
.pre-commit-config.yaml
mlflow.db
README.md
requirements.txt
