# Ignore data, logs, models, and other artifacts that shouldn't be versioned in Git.
/runs/carbontracker/
/runs/drift/
/runs/slurm_*.log
/runs/*.png
/runs/*.log

# Model weights — large binaries, versioned via DVC instead
/runs/models/best_model.pth
/runs/models/last_model.pth
/runs/models/pruned_model.pth
/runs/models/optimized/*.pth
/runs/models/optimized/*.png

# MLflow
mlflow.db
mlruns/


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
develop-eggs/
lib/
lib64/
wheels/
MANIFEST
.installed.cfg
.Python
__pypackages__/

# Installers / test artifacts
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Packaging / build tools
.pybuilder/
target/
sdist/
var/
parts/
downloads/
share/python-wheels/
.pdm.toml

# Type checkers / linters
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# Jupyter
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Sphinx
docs/_build/

# mkdocs
/site

# Scrapy
.scrapy

# Django / Flask
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Translations
*.mo
*.pot

# PyInstaller
*.manifest
*.spec

# editors
.vscode/
.ropeproject
.spyderproject
.spyproject