# requirements.txt
torch
torchvision
PyYAML
Pillow
matplotlib

# log
mlflow
tqdm

torchsummary

# data versioning and management
dvc[webdav]

# For pre-commit checking
pre-commit
pytest

# track carbon
carbontracker

# ddp and zero
deepspeed