# requirements.txt
torch
torchvision
PyYAML
Pillow
matplotlib

# log
mlflow
tqdm


torchsummary

# data versioning and management
dvc[webdav]

# For pre-commit checking
pre-commit
pytest

# track carbon
carbontracker

# ddp and zero
deepspeed

# module 6 - monitoring and drift
fastapi
uvicorn[standard]
prometheus-client
python-multipart
scipy

# simple prediction UI
streamlit
requests